html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
}

#map .legend {
  max-width: 200px;
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend i.hoop {
  width: 24px;
  background-image: url('../images/hoop-marker-icon.png');
  background-size: 24px;
  background-repeat: no-repeat;
}

footer {
  min-height: 40px;
}

header.jumbotron .btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 768px) {
  header.jumbotron .btn {
    display: inline-block;
    width: auto;
    margin-top: 5px;
  } 
}
